[Unit]
Description=Gollum wiki server  
After=network.target

[Service]
Type=simple  
ExecStart=/home/assafb/bin/gollum --show-all --live-preview --allow-uploads dir "/home/assafb/Dropbox/wiki"
Restart=on-abort

[Install]
WantedBy=default.target
