[Unit]
Description=Tiddlywiki server  
After=network.target

[Service]
Type=simple  
User=%i
WorkingDirectory=/home/assafb/Dropbox/tiddly_wiki
ExecStart=/usr/bin/tiddlywiki --server 
Restart=on-abort

[Install]
WantedBy=default.target
