.iguazio.bashrc
.fzf.bash
.fzf.zsh
.fzf/
.persistent_history
.sudo_as_admin_successful
.vim/plugged/
iguazio/
.vim/autoload/plug.vim
PlayOnLinux/
.audacity-data/
.bazaar/
.bzr.log
.cups/
.docear/
.fluxgui.pid
.fpp/
.gmrun_history
.gnome-desktop/
.httrack.ini
.jupyter/
.kodi/
.kpcli-history
.mono/
.ncmpcpp/
.oracle_jre_usage/
.ovftool.ssldb
.pdf-xchange/
.projectlibre/
.purple/
.quodlibet/
.recently-used
.sane/
.scapy_history
.vim-bookmarks
.viminfx.tmp
.viminfy.tmp
.webex/
.wine/
.xfce4-session.verbose-log
.xfce4-session.verbose-log.last
.xmind/
.Mathematica/
.fonts/
.plotly/
.python_history
.copy/
Copy/
.MakeMKV/
.nvim/
Drive/
local/
vim_maps.txt
.abrt/
.pyenv/
abrt/
.gpg-agent-info
.imsettings.log
.k5login_
.keychain/
.snapshot/
ws/
yankring_history_v2.txt
.Fontmatrix/
.asoundrc
.avidemux/
.cr3/
.gem/
.hp48/
.icedtea/
.kde4/
.mplayer/
.npm/
.nviminfo
.nvimlog
.sage/
.steam/
.steampath
.steampid
.worker/
.yEd/
UMLet/
bower_components/
calibre_lib/
mas_files/
a
.aap/
.adobe
.android
AppData/
.aptitude
.argouml/
assaf-lap-restore/
backtrace.txt
backup
.bash_history
.bash_logout
.bashrc.assafb-htpc
bin
build-1/
Build.log
build.log.gz
.byobu
.cache
.calibre_calibre GUI.lock
Calibre Library
cantata
cantata_env.txt
.ccache
COMPASS_EOS_K9_Temp_Host-kwdb.cmpsys_Dec21_2010_SDR_2916_Opp_Num-15694.lic
compass_kw.override.h
confd_crash
.config/
Configs/
.conkyrc
Contacts/
cores
.cpanm/
cpm18_config.txt
cps
cr3/
crr1122.txt
CRR1148-2.diff
CRR1148.diff
cscope-15.7a
cscope-15.7a.tar
cscope.files
.dbus
.dbus-keyrings
.DCOPserver_cmp-nx-srv1__1018
.DCOPserver_cmp-nx-srv1_:1018
.DCOPserver_cmp-nx-srv1__1060
.DCOPserver_cmp-nx-srv1_:1060
.DCOPserver_cmp-nx-srv1__1105
.DCOPserver_cmp-nx-srv1_:1105
.DCOPserver_cmp-nx-srv2__1010
.DCOPserver_cmp-nx-srv2_:1010
.DCOPserver_cmp-nx-srv2__1119
.DCOPserver_cmp-nx-srv2_:1119
.DCOPserver_cmp-nx-srv2__1145
.DCOPserver_cmp-nx-srv2_:1145
.debtags
.depend/
Desktop
device-backup/
diff_1.txt
diff_costa.txt
diff_image.txt
diff_isis.txt
diffs
.distcc
.dmrc
doc/
docs
Documents
Downloads
.dropbox
Dropbox
.dropbox-dist
.dropbox-master/
.eclipse
.eggcups
elisp
.emacs
.emacs1
emacs-24.1
.emacs.d.manual
.emacs.d.pre-prelude.tar
emacs.ps
.emacsrc
.esd_auth
.eshell
etc/
eval
.evolution
exclude
Favorites/
Fiabee/
fib_temp_double_recursion.txt
file_list.in
.filezilla
.flexlmrc
.fltk/
.fontconfig
.fonts.cache-1
.fonts.conf
.fonts/fonts.dir
.fonts/fonts.scale
.freemind/
.fullcircle
g2mdlhlpx.exe
.gconf
.gconfd
.gimp-2.8
git1
.gitk
.gitmodules
.gksu.lock
global-6.2.4
.gnome
.gnome2
.gnome2_private
.gnome-commander/
.gnupg
Google
Google\ Drive/
graphviz-2.24.0
grub_layout.dsk
.gstreamer-0.10
gsview64.ini
.gtk-bookmarks
.gtkrc-1.2-gnome2
gtkrc-2.0
.gvfs
.hardinfo
.history
home-dir
hostname.txt
.hplip/
hs_err_pid28174.log
hs_err_pid4593.log
hs_err_pid7132.log
hw.git
.ICEauthority
.icons
.idlerc/
.ido.last
.ido.last~
images
im_confd_validation.c
include
info
Install
.InstallAnywhere
installs
Insync/
iprs_base_cpm
iprs_base_lc
.ipython/
iron.py
.java
.jazzcerts
.jazzhostnamecerts
.jazz-scm
jdk1.7.0_03_combo/
.juniper_networks/
.k5login
.kde
.kde.bak
keychart.html
.klocwork
.KOI/
.kuku.swp
kwcc_config.xml
kwfilter.conf
kw_override.h
kw_srv
.lesshst
lib
lib64/
libevent-2.0.19-stable.tar.gz
libevent-2.0.20-stable
libevent-2.0.20-stable.tar.gz
libexec
licence.lic
Links/
.linuxmint
listsort.c
.local
log_usage.txt
.macromedia
Mail
man
.mate2
.mateconf
.mateconfd
.mc
.mcop
.mcoprc
.metacity
modmap
.mozilla
.msjnc.log
.msjnc-profiles.cfg
Music
my_prog.c
my_slick/
N7_Documents/
.nautilus
.nbi/
ncurses-5.9.tar.gz
nsm_tree_debug
nsm_tree_debug2
ntt
NTUSER.DAT*
ntuser.ini
ntuser.pol
.nx
NXC495~1/
.nx.save
ols2004v2-pages-61-70.pdf
.opennx
.openoffice.org2.0
osdef.sh
.p7zip
.parasoft
.pentadactyl/
Pictures
.pip/
pkg_srv3.txt
.pki
.post-review-cookies.txt
prelude
.profile
Public
.pulse
.pulse-cookie
python.1
.python-eggs
.qt
.recently-used.xbel
.redhat
releases
restore_functions.txt
robot/
.rssowl2/
RTC-java/
Saved
Saved\ Games/
.scopetools
scripts/*.ex
se_16000300_linux32.tar.gz
se_16000300_linux64.tar.gz
se_17000100_linux64
Searches/
SE_WL460405_1500_Lukov.lic
share
shelf_cm.txt
SkyDrive/
.Skype/
slickedit
.slickedit
SlickEditOptions15.zip
.smartgit
Snap.20110406.140459.2784.0002.trc
Snap.20110407.020701.32704.0002.trc
Snap.20110410.181103.26273.0002.trc
socat-1.7.1.0
solarized
.sqlite_history
src/
.ssh
.subversion
.swp
.swt
target_scripts
TB-Emails/
template.c
Templates
test
#test.el#
test.el
.test_screenrc
.texmf-var
tftp
.themes
.thumbnails
.thunderbird/
tmp/
tmp-dir-bxyY
tmp-dir-EUDM
tmp-dir-kidp
tmp-dir-kTDu
tmp-dir-LqQv
tmp-dir-NsrL
tmp-dir-SEgY
tmp-dir-sNKK
tmp-dir-WdlO
tmp-dir-YRNZ
tmp-KQyGXN
tmp.txt
tmp-UeiOZi
tmux-1.6
tmux-1.6.tar.gz
[tmux]-tmux.log
Tools
.tramp_history
.Trash
.TrueCrypt/
types.h
userids.txt
userprofile.pconf.xml
var
.vboxclient-clipboard.pid
.vboxclient-display.pid
.vboxclient-draganddrop.pid
.vboxclient-seamless.pid
vch
Videos
_viminfo
.viminfo
.viminfo.tmp
.viminfz.tmp
.vimrc1
VirtualBox
.VirtualBox/
VirtualBox\ VMs/
visualparadigm/
vmware
.vmware
.vnc/
vpworkspace/
.w3m
WINDOWS
.wireshark/
.workbench-3.0.20071205-1127
workspace
workspace/
workspace-indigo
wrp_vertical_split_0.3_4.0.2.diff
wschassis
wspace
wspace/
.wvdial.conf
.x2go/
.x2goclient/
.Xauthority
xclip-0.12
.Xdefaults1
.Xdefaults_try
.xprofile
.xscreensaver
xsel-1.2.0
.xsel.log
.xsession
.xsession-errors
xterm-283
xterm.tar.gz
xx
yinat.diff
.zshrc
.docker/
.undodir/
.vim/spell/en.utf-8.add.spl
.ziggy/
manof/
ziggy/
scripts/forticlientsslvpn-expect.sh
