[user]
	name = Assaf Ben Amitai
	email = assaf758@gmail.com
[color]
    diff = auto
    status = auto
    branch = auto
[alias]
    st = status
    s = status -sb

    l = !git logn
    ll = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%an/%cn]" --decorate --date=short

    lg = log -p
    last = log -1 HEAD
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all

    df = diff
    dc = diff --cached

    ci = commit
    co = checkout
    br = branch
    ls = ls-files
    rso = remote show origin
    # Show files ignored by git:
    ign = ls-files -o -i --exclude-standard

    meld = !git-meld.pl
    edit-unmerged = "!f() { git diff --name-status --diff-filter=U | cut -f2 ; }; vim `f`"
    add-unmerged = "!f() { git diff --name-status --diff-filter=U | cut -f2 ; }; git add `f`"
    graphviz = "!f() { echo 'digraph git {' ; git log --pretty='format:  %h -> { %p }' \"$@\" | sed 's/[0-9a-f][0-9a-f]*/\"&\"/g' ; echo '}'; }; f"

    # list aliases
    la = "!git config -l | grep alias | cut -c 7-"
[merge]
    tool = git-meld.pl
[diff]
[gui]
    recentrepo = U:/test/gitflow2.git
[credential]
    helper = cache --timeout=3600
[core]
    autocrlf = false
    safecrlf = true
    eol       = lf
[push]
    default = simple

[rebase]
	autosquash = true
